@page
@model RazorPagesCV.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CuriculumVitae</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuriculumVitae.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuriculumVitae.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CuriculumVitae.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuriculumVitae.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CuriculumVitae.ModifiedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CuriculumVitae.ModifiedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CuriculumVitae.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
